.card {
  width: 20rem;
  background: radial-gradient(
    rgba(255, 255, 255, 1) 50%,
    rgba(216, 216, 216, 1) 165%
  );
  margin-bottom: 2rem;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-body {
  padding: 1rem 0 !important;
}

.card-text {
  font-size: 4.5rem;
  padding: 0.4rem 0rem;
}

.container-fluid-row {
  padding-top: 6rem;
}
