.App {
  text-align: center;
}

#poll-content {
    background: white;
    padding: 20px;
    /* width: 800px;
    height: 400px; */
    border-radius: 20px;
    clear: both;
}

main {
    display: flex;
}

.poll-wrapper {
    margin: 50px;
    position: relative;
    margin: 0 auto;
}

.poll-wrapper div {
    float: left;
}

.tab {
    padding: 5px 5px 30px 5px;
    margin: 0 10px 0 0;
    background-color: white;
    float: left;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    left: 0px;
    transform: translate(0,25px);
    z-index: -1;
    font-size: 2em;
    color: #8ec857;
}
