.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.head {
  padding: 0px 20px 0px 20px;
  color: white;
  background-color: inherit;
}

.content {
  padding: 0px 20px 0px 20px;
  background-color: #4682B4;
  color: white;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 5px;
}

.sp {
  fill: #61dafb;
  fill-opacity: 0.225;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Menu{

  background-color: aqua;
}